@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: "F.G";
  src: url(../recursos/fuentes/Blacklisted.ttf); }

@font-face {
  font-family: "pulp";
  src: url(../recursos/fuentes/3604-pulp-science-web.woff); }

@font-face {
  font-family: "hopper";
  src: url(../recursos/fuentes/HulbertHopperDisplay.ttf); }

@font-face {
  font-family: "simply";
  src: url(../recursos/fuentes/SimplySerif-Book.ttf); }

@font-face {
  font-family: "sunflower";
  src: url(../recursos/fuentes/Sunflower.otf); }

.fondoLogo {
  border-style: double;
  border-width: 13px;
  border-color: #68686859;
  display: flex;
  margin: auto;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
  box-shadow: inset 1px 1px 15px;
  animation-name: float;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.4, 0, 1, 1); }
  .fondoLogo .logo {
    display: flex;
    height: 166px;
    width: 166px;
    border-radius: 100%;
    font-family: "F.G";
    font-size: 65px;
    align-items: center;
    justify-content: center;
    color: #3b5364; }
    .fondoLogo .logo p .flechaLogo {
      width: 50px;
      margin: -11px;
      margin-bottom: 20px;
      margin-left: -9px; }
    .fondoLogo .logo p {
      margin: auto;
      filter: drop-shadow(8px -5px 6px); }

.presentación {
  display: flex;
  height: 80vh; }
  .presentación .presentacion-parrafos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 50vh;
    width: 50vw;
    margin: 100px 50px; }
    .presentación .presentacion-parrafos h1 {
      font-size: xxx-large;
      font-family: pulp;
      margin: 35px 20px;
      backdrop-filter: blur(40px);
      border-radius: 15px;
      padding: 5px;
      border-style: solid;
      border-width: 2px;
      border-color: #93939347;
      box-shadow: -4px 8px 8px #00000080;
      transition: .4s; }
    .presentación .presentacion-parrafos h1:hover {
      transform: scale(1.03);
      filter: saturate(1.6); }
    .presentación .presentacion-parrafos h1::first-letter {
      color: #FED766; }
    .presentación .presentacion-parrafos p {
      font-size: xx-large;
      font-family: simply;
      margin: 20px 50px;
      filter: drop-shadow(-5px 4px 10px black); }
  .presentación .presentacion-imgs {
    display: flex;
    width: 50vw;
    margin: auto;
    flex-direction: column;
    align-items: center; }
    .presentación .presentacion-imgs .corazon {
      width: 58px;
      z-index: 1;
      transform: translateY(119px);
      filter: drop-shadow(3px 3px 6px black);
      animation-name: float;
      animation-duration: 7s;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(0, -0.99, 1, 1.9); }
    .presentación .presentacion-imgs .corazon:hover {
      transform: scale(1.3);
      filter: drop-shadow(8px 7px 20px white);
      filter: saturate(1.4); }
    .presentación .presentacion-imgs .icons {
      width: 583px;
      transform: translateY(-112px);
      filter: drop-shadow(3px 6px 8px black);
      animation-name: float;
      animation-duration: 6s;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(0.72, -0.73, 0.28, 1.66); }
    .presentación .presentacion-imgs .personaje {
      position: absolute;
      width: 480px;
      transform: translateY(-550px);
      animation-name: float;
      animation-duration: 7s;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(0.68, 0.34, 0.11, 0.76);
      filter: drop-shadow(8px 7px 20px rgba(0, 0, 0, 0.503)); }
    .presentación .presentacion-imgs .personaje:hover {
      filter: drop-shadow(8px 7px 20px rgba(255, 255, 255, 0.519));
      filter: saturate(1.4); }

.desliza {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px; }
  .desliza h2 {
    font-family: hopper;
    text-align: center;
    margin: 20px 40px;
    filter: drop-shadow(0px 8px 10px black); }
  .desliza p {
    font-family: "hopper";
    font-size: medium;
    backdrop-filter: blur(50px);
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff54;
    border-radius: 15px; }
  .desliza .msm {
    font-size: x-large;
    margin-top: 60px; }
  .desliza .flecha {
    width: 100px;
    color: #FED766;
    border-width: 1px;
    filter: drop-shadow(8px 8px 8px #292929);
    animation-name: float;
    animation-duration: 2.3s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.68, -0.01, 0.24, 1.01); }

@keyframes float {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(40px); }
  100% {
    transform: translateY(0px); } }

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg); } }

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg); } }

.background {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #e1e2fe;
  overflow: hidden; }

.background span {
  width: 27vmin;
  height: 27vmin;
  border-radius: 27vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 26;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

.background span:nth-child(0) {
  color: #87bba2;
  top: 40%;
  left: 41%;
  animation-duration: 14s;
  animation-delay: -222s;
  transform-origin: 7vw 18vh;
  box-shadow: -54vmin 0 7.100023283790479vmin currentColor; }

.background span:nth-child(1) {
  color: #427aa1;
  top: 73%;
  left: 95%;
  animation-duration: 197s;
  animation-delay: -68s;
  transform-origin: -7vw 10vh;
  box-shadow: 54vmin 0 7.608779096772427vmin currentColor; }

.background span:nth-child(2) {
  color: #87bba2;
  top: 63%;
  left: 56%;
  animation-duration: 199s;
  animation-delay: -171s;
  transform-origin: -13vw -11vh;
  box-shadow: 54vmin 0 7.1152020842476125vmin currentColor; }

.background span:nth-child(3) {
  color: #87bba2;
  top: 50%;
  left: 17%;
  animation-duration: 105s;
  animation-delay: -104s;
  transform-origin: 11vw 13vh;
  box-shadow: 54vmin 0 7.153473429319213vmin currentColor; }

.background span:nth-child(4) {
  color: #4f4f4f;
  top: 43%;
  left: 48%;
  animation-duration: 142s;
  animation-delay: -207s;
  transform-origin: 7vw -5vh;
  box-shadow: -54vmin 0 6.887685763189659vmin currentColor; }

.background span:nth-child(5) {
  color: #fed766;
  top: 87%;
  left: 45%;
  animation-duration: 213s;
  animation-delay: -198s;
  transform-origin: 1vw -22vh;
  box-shadow: -54vmin 0 6.861372539478121vmin currentColor; }

.background span:nth-child(6) {
  color: #fed766;
  top: 47%;
  left: 11%;
  animation-duration: 26s;
  animation-delay: -14s;
  transform-origin: -2vw -2vh;
  box-shadow: -54vmin 0 7.644057618652577vmin currentColor; }

.background span:nth-child(7) {
  color: #87bba2;
  top: 7%;
  left: 24%;
  animation-duration: 101s;
  animation-delay: -157s;
  transform-origin: -11vw -9vh;
  box-shadow: -54vmin 0 7.73047267507251vmin currentColor; }

.background span:nth-child(8) {
  color: #427aa1;
  top: 51%;
  left: 93%;
  animation-duration: 161s;
  animation-delay: -167s;
  transform-origin: 14vw -18vh;
  box-shadow: 54vmin 0 7.389387041723014vmin currentColor; }

.background span:nth-child(9) {
  color: #427aa1;
  top: 55%;
  left: 4%;
  animation-duration: 224s;
  animation-delay: -222s;
  transform-origin: 11vw 12vh;
  box-shadow: -54vmin 0 7.073644323698496vmin currentColor; }

.background span:nth-child(10) {
  color: #4f4f4f;
  top: 5%;
  left: 51%;
  animation-duration: 155s;
  animation-delay: -90s;
  transform-origin: 18vw -21vh;
  box-shadow: 54vmin 0 7.342784205093663vmin currentColor; }

.background span:nth-child(11) {
  color: #4f4f4f;
  top: 99%;
  left: 74%;
  animation-duration: 109s;
  animation-delay: -134s;
  transform-origin: -20vw 19vh;
  box-shadow: 54vmin 0 7.5595355088312814vmin currentColor; }

.background span:nth-child(12) {
  color: #427aa1;
  top: 75%;
  left: 27%;
  animation-duration: 99s;
  animation-delay: -72s;
  transform-origin: 8vw 6vh;
  box-shadow: 54vmin 0 7.024110612749833vmin currentColor; }

.background span:nth-child(13) {
  color: #427aa1;
  top: 70%;
  left: 98%;
  animation-duration: 82s;
  animation-delay: -141s;
  transform-origin: -4vw 6vh;
  box-shadow: -54vmin 0 7.009675229089664vmin currentColor; }

.background span:nth-child(14) {
  color: #427aa1;
  top: 18%;
  left: 2%;
  animation-duration: 157s;
  animation-delay: -211s;
  transform-origin: 6vw 10vh;
  box-shadow: 54vmin 0 7.214511187999673vmin currentColor; }

.background span:nth-child(15) {
  color: #87bba2;
  top: 63%;
  left: 45%;
  animation-duration: 102s;
  animation-delay: -44s;
  transform-origin: -12vw -23vh;
  box-shadow: -54vmin 0 7.411605544407829vmin currentColor; }

.background span:nth-child(16) {
  color: #fed766;
  top: 55%;
  left: 1%;
  animation-duration: 14s;
  animation-delay: -31s;
  transform-origin: -4vw -20vh;
  box-shadow: -54vmin 0 7.540401783351419vmin currentColor; }

.background span:nth-child(17) {
  color: #87bba2;
  top: 98%;
  left: 16%;
  animation-duration: 127s;
  animation-delay: -162s;
  transform-origin: -23vw -20vh;
  box-shadow: -54vmin 0 7.132123046174923vmin currentColor; }

.background span:nth-child(18) {
  color: #427aa1;
  top: 20%;
  left: 70%;
  animation-duration: 239s;
  animation-delay: -60s;
  transform-origin: -21vw 4vh;
  box-shadow: 54vmin 0 6.95105644340403vmin currentColor; }

.background span:nth-child(19) {
  color: #fed766;
  top: 5%;
  left: 88%;
  animation-duration: 134s;
  animation-delay: -219s;
  transform-origin: 23vw -14vh;
  box-shadow: -54vmin 0 7.590197334005277vmin currentColor; }

.background span:nth-child(20) {
  color: #fed766;
  top: 62%;
  left: 97%;
  animation-duration: 72s;
  animation-delay: -34s;
  transform-origin: 11vw 6vh;
  box-shadow: 54vmin 0 6.921151759224403vmin currentColor; }

.background span:nth-child(21) {
  color: #fed766;
  top: 80%;
  left: 95%;
  animation-duration: 70s;
  animation-delay: -88s;
  transform-origin: 19vw -10vh;
  box-shadow: -54vmin 0 7.2747070877294vmin currentColor; }

.background span:nth-child(22) {
  color: #427aa1;
  top: 29%;
  left: 97%;
  animation-duration: 178s;
  animation-delay: -15s;
  transform-origin: 15vw 15vh;
  box-shadow: 54vmin 0 7.209020190826081vmin currentColor; }

.background span:nth-child(23) {
  color: #87bba2;
  top: 34%;
  left: 10%;
  animation-duration: 131s;
  animation-delay: -70s;
  transform-origin: 19vw -14vh;
  box-shadow: -54vmin 0 7.684538629353007vmin currentColor; }

.background span:nth-child(24) {
  color: #427aa1;
  top: 84%;
  left: 71%;
  animation-duration: 92s;
  animation-delay: -136s;
  transform-origin: -17vw 20vh;
  box-shadow: -54vmin 0 7.2599095414623935vmin currentColor; }

.background span:nth-child(25) {
  color: #87bba2;
  top: 13%;
  left: 10%;
  animation-duration: 190s;
  animation-delay: -189s;
  transform-origin: -13vw -12vh;
  box-shadow: -54vmin 0 6.83625595921008vmin currentColor; }

.background span:nth-child(26) {
  color: #fed766;
  top: 36%;
  left: 77%;
  animation-duration: 215s;
  animation-delay: -68s;
  transform-origin: -24vw -15vh;
  box-shadow: 54vmin 0 7.165061396111119vmin currentColor; }

.background span:nth-child(27) {
  color: #fed766;
  top: 99%;
  left: 31%;
  animation-duration: 143s;
  animation-delay: -117s;
  transform-origin: -24vw 5vh;
  box-shadow: -54vmin 0 7.670085012466206vmin currentColor; }

.background span:nth-child(28) {
  color: #427aa1;
  top: 88%;
  left: 38%;
  animation-duration: 81s;
  animation-delay: -203s;
  transform-origin: -3vw -4vh;
  box-shadow: -54vmin 0 6.996477869381313vmin currentColor; }

.background span:nth-child(29) {
  color: #4f4f4f;
  top: 58%;
  left: 70%;
  animation-duration: 230s;
  animation-delay: -126s;
  transform-origin: 17vw 1vh;
  box-shadow: 54vmin 0 7.296074016737552vmin currentColor; }

.background span:nth-child(30) {
  color: #4f4f4f;
  top: 79%;
  left: 37%;
  animation-duration: 95s;
  animation-delay: -95s;
  transform-origin: -16vw -13vh;
  box-shadow: 54vmin 0 7.363892621926729vmin currentColor; }

.background span:nth-child(31) {
  color: #427aa1;
  top: 5%;
  left: 64%;
  animation-duration: 203s;
  animation-delay: -148s;
  transform-origin: 25vw 8vh;
  box-shadow: 54vmin 0 7.121964577361936vmin currentColor; }

.background span:nth-child(32) {
  color: #427aa1;
  top: 8%;
  left: 90%;
  animation-duration: 71s;
  animation-delay: -225s;
  transform-origin: 25vw -22vh;
  box-shadow: 54vmin 0 7.392027417395412vmin currentColor; }

.background span:nth-child(33) {
  color: #87bba2;
  top: 99%;
  left: 53%;
  animation-duration: 150s;
  animation-delay: -235s;
  transform-origin: -3vw 11vh;
  box-shadow: 54vmin 0 6.86709998223253vmin currentColor; }

.navscroll {
  z-index: 1;
  background-color: #87BBA2;
  opacity: 1;
  background: radial-gradient(circle, transparent 20%, #87BBA2 20%, #87BBA2 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #87BBA2 20%, #87BBA2 80%, transparent 80%, transparent) 35px 35px, linear-gradient(#182C3A 2.8px, transparent 2.8px) 0 -1.4px, linear-gradient(90deg, #182C3A 2.8px, #87BBA2 2.8px) -1.4px 0;
  background-size: 70px 70px, 70px 70px, 35px 35px, 35px 35px;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  border-style: solid;
  border-width: 2px 0px;
  border-color: #182C3A;
  box-shadow: 0px 0px 40px 25px #000000a3; }
  .navscroll .logoimg img {
    width: 100px;
    margin: 5px 20px; }

.rounded-2 {
  padding-top: 30px;
  margin-top: -18px; }
  .rounded-2 .h4-1 {
    margin-bottom: -58px;
    color: white; }
  .rounded-2 .sobreMi {
    background-image: url(https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 104vh; }
    .rounded-2 .sobreMi .pCV {
      width: 50vw;
      color: #eafffe;
      font-size: 27px;
      font-family: "sunflower";
      margin-bottom: -50px;
      border-style: solid;
      border-width: 2px;
      border-color: grey;
      border-radius: 15px;
      box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.373);
      filter: drop-shadow(black -3px 4px 6px);
      backdrop-filter: blur(3px); }
    .rounded-2 .sobreMi .sectionCV {
      display: flex;
      flex-direction: column;
      width: 40vw;
      align-items: center; }
      .rounded-2 .sobreMi .sectionCV p {
        font-family: "pulp";
        color: #cbcbcbd1;
        font-size: large; }
      .rounded-2 .sobreMi .sectionCV .fotoCV {
        height: 257px;
        width: 237px;
        object-fit: cover;
        border-radius: 235px;
        margin: 160px 20px 10px;
        border-style: solid;
        border-width: 2px;
        border-color: #FED766;
        box-shadow: 8px 9px 9px 3px #00000069; }
      .rounded-2 .sobreMi .sectionCV .ulLinks {
        display: flex;
        color: white;
        list-style: none; }
        .rounded-2 .sobreMi .sectionCV .ulLinks li {
          background-color: #292929;
          border-style: solid;
          border-width: 2px;
          border-color: #FED766;
          margin: 5px 27px;
          border-radius: 15px;
          height: 27px;
          padding: 0px 14px;
          font-family: "simply";
          box-shadow: 5px 4px 6px 4px #00000069; }
        .rounded-2 .sobreMi .sectionCV .ulLinks li a {
          color: #FED766;
          text-decoration: none;
          font-size: 18px; }
        .rounded-2 .sobreMi .sectionCV .ulLinks .liEsp {
          background-color: #FED766;
          border-color: #292929; }
          .rounded-2 .sobreMi .sectionCV .ulLinks .liEsp a {
            color: #292929; }
      .rounded-2 .sobreMi .sectionCV .ulGit {
        display: flex;
        color: white;
        list-style-type: none; }
        .rounded-2 .sobreMi .sectionCV .ulGit li {
          margin: 0px 10px; }
        .rounded-2 .sobreMi .sectionCV .ulGit .github {
          background-color: #292929;
          height: 36px;
          border-radius: 15px;
          font-family: "simply";
          border-style: solid;
          border-width: 2px;
          padding: 0px 5px;
          border-color: #FED766;
          box-shadow: 5px 4px 6px 4px #00000069;
          color: #FED766;
          font-size: 18px; }
        .rounded-2 .sobreMi .sectionCV .ulGit .logoGit {
          width: 35px;
          color: purple; }
        .rounded-2 .sobreMi .sectionCV .ulGit .botonPAS {
          background-color: #292929;
          border-style: solid;
          border-width: 2px;
          border-color: #FED766;
          border-radius: 15px;
          box-shadow: 5px 4px 6px 4px #00000069;
          color: #87BBA2;
          font-size: 18px;
          font-family: "simply"; }
