@media (max-width:1400px) {
    .habilidades .gridHab .col {
        margin: 59px;
    }
}

@media (max-width:1337px) {
    .habilidades .gridHab .col {
        margin: 50px;
    }
}

@media (max-width:1265px) {
    .habilidades .gridHab .col {
        margin: 30px;
    }
}

@media (max-width:1160px) {
    .presentación .presentacion-imgs .icons {
        width: 550px;
    }
}

@media (max-width:1132px) {
    .pCV {
        margin-bottom: 20px !important;
    }
    .presentación .presentacion-imgs .icons {
        width: 400px;
    }
}

@media (max-width:1000px) {
    .presentación .presentacion-imgs .personaje {
        width: 400px;
    }
    .fondoLogo {
        margin-top: 0px;
        margin-bottom: 150px;
    }
    .presentacion-parrafos h1 {
        font-size: xx-large !important;
        width: 269px;
    }
    .pCV {
        font-size: 24px !important;
    }
    .rounded-2 .ulLinks li{
        box-shadow: none;
    }
    .rounded-2 .ulLinks li a{
        font-size: 12px;
    }
}

@media (max-width:880px) {
    .habilidades .gridHab .col {
        margin: 10px;
    }
    .presentación .presentacion-parrafos p {
        font-size: 28px;
    }
}

@media (max-width:800px) {
    .presentación .presentacion-imgs .icons {
        width: 350px;
    }
    .presentación .presentacion-imgs .personaje {
        width: 350px;
    }

    .pCV {
        font-size: 22px !important;
        margin-bottom: 40px !important;
    }
}

@media (max-width:760px) {
    .presentación .presentacion-imgs .icons {
        width: 300px;
    }
    .presentación .presentacion-imgs .personaje {
        width: 250px;
    }
    .desliza h2{
        margin: 85px 40px;
    }
}

@media (max-width:700px){
    .presentación .presentacion-imgs .icons {
        width: 240px;
    }
    .presentación .presentacion-imgs .corazon{
        width: 40px;
    }
    .pCV{
        font-size: 20px !important;
        margin-top: 144px;
        align-self: baseline;
    }
    .rounded-2 .ulLinks{
        width: 190px;
        flex-direction: column;
    }
    .rounded-2 .ulGit{
        flex-direction: column;
    }
    .rounded-2 .sobreMi{
        height: 120vh;
    }
    .rounded-2 .ulLinks li{
        padding: 0px;
    }
}

@media (max-width: 650px){
    .presentación .presentacion-imgs .icons{
        width: 200px;
        filter: none;
    }
    .presentación .presentacion-imgs .personaje{
        width: 200px;
        filter: none;
    }
    .volverInicio{
        margin-top: 0px !important;
    }
    .contenidoFooter h4{
        font-size: large !important;
    }
}

@media (max-width: 600px){
    .habilidades .gridHab .col{
        margin: 1px;
    }
    .pCV{
        margin-top: 75px;
    }
    .presentación .presentacion-imgs .icons {
        width: 160px;
    }
    .presentación .presentacion-imgs .personaje {
        width: 180px;
    }
    .habilidades .gridHab{
        margin: 0px;
    }
    .fotoCV{
        height: 215px !important;
        width: 200px !important;
        margin: 60px 20px 10px;
    }
    .presentación .presentacion-parrafos p {
        font-size: 25px;
    }
}

@media (max-width: 540px){
    .rounded-2 .pCV{
        width: 42vh;
    }
    .rounded-2 .ulGit .botonPAS{
        font-size: 12px;
        box-shadow: none;
    }
    .rounded-2 .ulGit .github {
        box-shadow: none;
    }
}

@media (max-width: 500px){
    .fotoCV{
        width: 150px !important;
        height: 190px !important;
    }
    .presentación .presentacion-imgs .icons {
        width: 110px;
    }
    .presentación .presentacion-imgs .personaje {
        width: 130px;
    }
    .presentación .presentacion-imgs .corazon {
        width: 25px;
    }
    .rounded-2 .pCV{
        width: 30vh;
        font-size: 17px !important;
    }
}

@media (max-width: 430px){
    .presentación .presentacion-imgs .personaje {
        width: 110px;
    }
    .presentación .presentacion-imgs .icons {
        width: 80px;
    }
    .nav{
        justify-content: center;
    }
    .navscroll .nav-link{
        font-size: smaller;
        margin: 5px;
    }
    .habilidades{
        margin-bottom: -20px;
    }
    .divContacto{ 
    height: 420px;
        .botonesFooter{
        justify-content: center;
        }
    }
}

@media (max-width: 350px){
    .presentación .presentacion-parrafos h1{
        margin: 35px -22px;
    }
    .presentación .presentacion-imgs .icons {
        display: none;
    }
    .presentación .presentacion-imgs .personaje {
        display: none;
    }
    .presentación .presentacion-imgs .corazon {
        display: none;
    }
    .rounded-2 .pCV{
        width: 23vh;
        font-size: 15px !important;
        .fotoCV{
            box-shadow: none;
        }
    }
    .habilidades .gridHab .col {
        margin: -3px;
    }
}