@media (max-width:1400px) {
    .habilidades .gridHab .col {
        margin: 59px;
    }
}

@media (max-width:1337px) {
    .habilidades .gridHab .col {
        margin: 50px;
    }
}

@media (max-width:1265px) {
    .habilidades .gridHab .col {
        margin: 30px;
    }
}

@media (max-width:1160px) {
    .presentación .presentacion-imgs .icons {
        width: 550px;
    }
}

@media (max-width:1132px) {
    .pCV {
        margin-bottom: 20px !important;
    }
    .presentación .presentacion-imgs .icons {
        width: 400px;
    }
}

@media (max-width:1000px) {
    .presentación .presentacion-imgs .personaje {
        width: 400px;
    }
    .fondoLogo {
        margin-top: 0px;
        margin-bottom: 150px;
    }
    .presentacion-parrafos h1 {
        font-size: xx-large !important;
        width: 269px;
    }
    .pCV {
        font-size: 24px !important;
    }
    .rounded-2 .ulLinks li{
        box-shadow: none;
    }
    .rounded-2 .ulLinks li a{
        font-size: 12px;
    }
}

@media (max-width:880px) {
    .habilidades .gridHab .col {
        margin: 10px;
    }
    .presentación .presentacion-parrafos p {
        font-size: 28px;
    }
}

@media (max-width:800px) {
    .presentación .presentacion-imgs .icons {
        width: 350px;
    }
    .presentación .presentacion-imgs .personaje {
        width: 350px;
    }

    .pCV {
        font-size: 22px !important;
        margin-bottom: 40px !important;
    }
}

@media (max-width:760px) {
    .presentación .presentacion-imgs .icons {
        width: 300px;
    }
    .presentación .presentacion-imgs .personaje {
        width: 300px;
    }
}

@media (max-width:700px){
    .presentación .presentacion-imgs .icons {
        width: 240px;
    }
    .pCV{
        font-size: 20px !important;
        margin-top: 144px;
        align-self: baseline;
    }
    .rounded-2 .ulLinks{
        width: 370px;
        flex-direction: column;
    }
    .rounded-2 .ulGit{
        flex-direction: column;
    }
    .rounded-2 .sobreMi{
        height: 120vh;
    }
}