.rounded-2 {
    padding-top: 30px;
    margin-top: -18px;

    .h4-1 {
        margin-bottom: -58px;
        color: rgba(255, 255, 255, 0.64);
        text-align: center;
        font-family: "Pulp";
        animation-name: h4-1;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0.29, -0.82, 1, 2.43);
        animation-duration: 2.5s;
    }

    .sobreMi {
        background-image: url(https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        height: 850px;
        border-bottom-style: solid;
        border-bottom-width: 3px;
        border-color: black;
    }

        .pCV {
            width: 45vw;
            color: #eafffe;
            font-size: 27px;
            font-family: "sunflower";
            margin-bottom: -50px;
            border-style: solid;
            border-width: 2px;
            border-color: rgba(128, 128, 128, 0.718);
            border-radius: 15px;
            box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.373);
            filter: drop-shadow(black -3px 4px 6px);
            backdrop-filter: blur(35px);
            transition: .3s;
        }
        .pCV:hover{
            transform: scale(1.02);
            filter: contrast(1.12);
            border-color:rgba(231, 224, 224, 0.718) ;
        }

        .sectionCV {
            display: flex;
            flex-direction: column;
            width: 40vw;
            align-items: center;
            p{
                font-family: "pulp";
                color: #cbcbcbd1;;
                font-size: large;
                animation-name: hola;
                animation-iteration-count: infinite;
                animation-duration: 6s;
                animation-timing-function: cubic-bezier(0.25, 0.23, 0.57, 0.75);
            }
            }
            .fotoCV {
                height: 257px;
                width: 237px;
                object-fit: cover;
                border-radius: 235px;
                margin: 160px 20px 10px;
                border-style: solid;
                border-width: 2px;
                border-color: #FED766;
                box-shadow: 8px 9px 9px 3px #00000069;
                transition: .3s;
            }
            .fotoCV:hover{
                transform: scale(1.03);
                box-shadow: 8px 9px 9px 3px #fffefe38;
                filter: saturate(1.2);
            }

            .ulLinks {
                display: flex;
                color: white;
                list-style: none;

                li {
                    background-color: #292929;
                    border-style: solid;
                    border-width: 2px;
                    border-color: #FED766;
                    margin: 5px 27px;
                    border-radius: 15px;
                    height: 27px;
                    padding: 0px 14px;
                    font-family: "simply";
                    box-shadow: 5px 4px 6px 4px #00000069;
                    transition: .2s;
                }
                li:hover{
                    background-color: #87BBA2;
                    border-color: #292929;
                    color: #292929;
                    transform: scale(1.03);
                    box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.618);
                }
                li a{
                    color:#FED766;
                    text-decoration: none;
                    font-size: 18px;
                }
                .liEsp{
                    background-color: #FED766;
                    border-color: #292929;
                    transition: .2s;
                    a{
                        color: #292929;
                    }
                }
                .liEsp:hover{
                    background-color: #292929;
                    border-color: #FED766;
                    transform: scale(1.1);
                }
                .liEsp a:hover{
                    color: #FED766;
                }
            }

            .ulGit {
                display: flex;
                color: white;
                list-style-type: none;

                li{
                    margin: 0px 10px;
                }

                .github {
                    background-color: #292929;
                    height: 36px;
                    border-radius: 15px;
                    font-family: "simply";
                    border-style: solid;
                    border-width: 2px;
                    padding: 0px 5px;
                    border-color: #FED766;
                    box-shadow: 5px 4px 6px 4px #00000069;
                    color: #FED766;
                    font-size: 18px;
                    transition: .2s;
                }
                .github:hover{
                    background-color: #87BBA2;
                    border-color: #292929;
                    color: #292929;
                    transform: scale(1.03);
                    box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.618);
                }

                .logoGit {
                    width: 35px;
                    color: purple;
                }

                .botonPAS {
                    background-color: #292929;
                    border-style: solid;
                    border-width: 2px;
                    border-color: #FED766;
                    border-radius: 15px;
                    box-shadow: 5px 4px 6px 4px #00000069;
                    color: #87BBA2;
                    font-size: 18px;
                    font-family: "simply";
                }
                .botonPAS:hover{
                    transform: scale(1.1);
                    box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.618);
                    border-color: #87BBA2;
                }
                .botonPAS:active{
                    background-color: #FED766;
                    box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.618);
                }
                }
            }
            .card-body{
                background-color: #292929;
                font-family: "simply";
            }

@keyframes h4-1{
    0%{
    color: rgba(255, 255, 255, 0.64);
    }
    50%{
        color: rgb(255, 255, 255);
    }
    100%{
        color: rgba(255, 255, 255, 0.64);
    }
}

@keyframes hola{
    0%{
        color:#292929;
    }
    33%{
        color: #87BBA2;
    }
    66%{
        color: #FED766;
    }
    100%{
        color: #182C3A;
    }
}